## Dont need vscode's config files
.vscode

## Don't upload music files to github
html/audio/*
*.mp3
*.oog
*.wav
*.flac

## Do Allow my default splash sound sample audio
!html/audio/f-s-path0.mp3
!html/audio/f-s-path0-fx.mp3
!html/audio/f-s-path1.mp3
!html/audio/f-s-path2.mp3

## Don't upload playlists to github
html/js/jsPlaylist.js
*.m3u

## Don't upload build executables to github
*.exe
fs-path
fs-path.exe
