## Dont need vscode's config files
.vscode

## Don't upload music files to github
html/audio/*

## Allow my default splash sound
!html/audio/f-s-path0.mp3
!html/audio/f-s-path0-fx.mp3
!html/audio/f-s-path1.mp3
!html/audio/f-s-path2.mp3

## Don't want to upload the playlist updates
html/js/jsPlaylist.js
*.m3u