/* https://github.com/mezcel/fs-path/html/css/styles.js */

#playlist {
    /*display: none;*/
    /*list-style: none;*/
    word-wrap: break-word!important;
}

#about {
    word-wrap: break-word!important;
}

#playlist .current-song a{
    /* w3css w3-blue-grey */
    color: #fff!important;background-color:#607d8b!important;
    word-wrap: break-word!important;
}

.dark-mode {
    background-color: black;
    color: white;
}

.fsPathLogo {
    font-size:32px;
    font-family:"Segoe UI",Arial,sans-serif;
}
.fsPathLogo:hover { cursor: context-menu; }

.btnLightdark {
    font-size: 20px;
    padding-left: 12px;
    padding-top: 2px;
}
.btnLightdark:hover { cursor: context-menu; }

.btnUpload {
    font-size: 20px;
    padding-left: 12px;
    padding-top: 2px;
}
.btnUpload:hover { cursor: context-menu; }

.btnInfo {
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
}
.btnInfo:hover { cursor: context-menu; }

.btnPlaylist {
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
}
.btnPlaylist:hover { cursor: context-menu; }

.btnTogglePls {
    padding-right: 10px;
    padding-top: 10px;
}
.btnTogglePls:hover { cursor: context-menu; }

/*
.btnToggleInfo {
    padding-right: 10px;
    padding-top: 10px;
}
.btnToggleInfo:hover { cursor: context-menu; }*/

/* wrap everything */
div, p, ul, ol, li, code { word-wrap: break-word!important; }

/* Hide scrollbars */
div{ overflow: hidden!important; }

/* Overwrite w3css sidebar */
.w3-sidebar{
    height:100%;
    width:100%;
    /*background-color:#fff;*/
    position:fixed!important;
    z-index:1;overflow:auto
}

