/* https://github.com/mezcel/fs-path/html/css/styles.js */

#about {
    word-wrap: break-word!important;
}

#playlist {
    word-wrap: break-word!important;
}

.current-song a {
    /* w3css w3-blue-grey */
    color: #fff!important;
    background-color:#607d8b!important;
    word-wrap: break-word!important;
}

#mainPlayer {
    display: block;
}

#topLeftContainer {
    display: block;

}

#topRightContainer {
    display: block;
}

.hide {
    display: none;
}

.dark-mode {
    background-color: black;
    color: white;
}

.fsPathLogo {
    font-size:32px;
    font-family:"Segoe UI",Arial,sans-serif;
}
.fsPathLogo:hover { cursor: context-menu; }

.btnLightdark {
    font-size: 20px;
    padding-left: 12px;
    padding-top: 2px;
}
.btnLightdark:hover { cursor: context-menu; }

.btnUpload {
    font-size: 20px;
    padding-left: 12px;
    padding-top: 2px;
}
.btnUpload:hover { cursor: context-menu; }

.btnInfo {
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
}
.btnInfo:hover { cursor: context-menu; }

.btnPlaylist {
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
}
.btnPlaylist:hover { cursor: context-menu; }

.btnToggleModal {
    padding-right: 10px;
    padding-top: 10px;
}
.btnToggleModal:hover { cursor: context-menu; }

/* wrap everything */
div, p, ul, ol, li, code { word-wrap: break-word!important; }

/* Hide scrollbars */
div{ overflow: hidden!important; }

